@import 'bootstrap/index'

a:visited
  color: #551A8B !important

.container-fluid
  padding-top: ($grid-gutter-width / 2)

.auth-buttons
  button, #auth-status
    margin-left: ($grid-gutter-width / 2)

.ui-slider
  @media (min-width: $screen-xs-min)
    width: 30em

.time-ago
  font-size: 90%

.channel-index
  width: 3ex

.recent-hours
  width: 3em
  text-align: center

.recent
  background-color: $alert-success-bg
