@import 'bootstrap/index'

a:visited
  color: #551A8B !important

.auth-buttons
  padding-top: 20px

.ui-slider
  @media (min-width: $screen-xs-min)
    width: 30em

.time-ago
  font-size: 80%

.channel-index
  width: 3ex
