@import 'bootstrap/index'

a:visited
  color: #551A8B !important

.container-fluid
  padding-top: 15px

.auth-buttons
  button
    margin-left: 25px
  #auth-status
    display: inline
    padding-left: 25px

.ui-slider
  @media (min-width: $screen-xs-min)
    width: 30em

.time-ago
  font-size: 80%

.channel-index
  width: 3ex
  margin-right: 1ex
