doctype html
html
  head
    title YourTube
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    style.
      .index input { text-align: right }
  body
    script#app(type="text/x-template"): v-app: v-container(fluid)

      v-row(v-if="auth"): v-col
        template(v-if="authorized")
          v-btn(@click="signOut") Sign out
          v-btn(@click="revoke") De-authorize
          span &nbsp;You are currently signed in as {{ email }}
        template(v-else)
          v-btn(@click="signIn") Sign In/Re-authorize

      v-row(v-if="gerror"): v-col
        v-alert(type="danger") {{ gerror}}

      v-row(v-if="channels.length"): v-col
        v-alert(type="success") {{ channels.length }} channels found

      v-row(v-if="channels.length"): v-col
        v-data-table(:headers="headers"
                     :items="channels"
                     :sort-by="['index']"
                     :items-per-page="-1"
                     must-sort
                     hide-default-footer)
          template(v-slot:item.index="{item}")
            v-text-field.index(dense @input="setIndex(item, $event)" :value="item.index")
          template(v-slot:item.videos="{item}")
            video-list(:channelId="item.channelId")

    script#video-list(type="text/x-template")
      v-simple-table(fixed-header dense)
        template(v-slot:default)
          thead
            tr
              th Published
              th Title
          tbody
            tr(v-for="v in videos")
              td {{ v.publishedAt | dateNice }} ({{ v.publishedAt | dateHuman }})
              td
                a(@click.stop="v.showing = true") {{ v.title }}
                v-dialog(v-model="v.showing" width="50%")
                  div(style="text-align:center")
                    youtube(:video-id="v.videoId")
                    div
                      v-btn(@click="markWatched(v)") Mark as Watched
                      v-btn(@click="v.showing = false") Close

    :inject(file="gapi.js")
    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="google-api.coffee")
    :inject(file="lodash.js")
    :inject(file="vue-youtube-embed.js")
    :inject(file="moment.js")
    :inject(file="summary.coffee" bare)
