doctype html
html
  head
    title YourTube
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    style.
      .v-text-field { padding-top: 0; margin-top: 0; }
      .v-input__slot { margin-bottom: 0; }
  body
    script#app(type="text/x-template"): v-app
      v-container(fluid v-if="auth")
        template(v-if="authorized")
          v-btn(@click="signOut") Sign out
          v-btn(@click="revoke") De-authorize
          span &nbsp;You are currently signed in as {{ email }}
        template(v-else)
          v-btn(@click="signIn") Sign In/Re-authorize

      v-container(fluid v-if="gerror")
        v-alert(type="danger") {{ gerror}}

      v-container(fluid v-if="channels.length")
        v-alert(type="success") {{ channels.length }} channels found

      channel(v-if="channels.length"
              v-for="c in channels"
              :key="c.channelId"
              v-bind="c")

    script#channel(type="text/x-template")
      v-container(fluid)
        v-layout(row wrap mx-0)
          v-flex(xs12 md3)
            v-layout(row nowrap)
              v-flex(xs12 sm8) {{ title }}
              v-flex(xs12 sm4)
                v-text-field(style="width:12ex"
                             v-model="newTag"
                             @keydown.enter="addTag"
                             prepend-inner-icon="mdi-plus-circle")
          v-flex(xs12 md9)
            v-chip(v-for="t in tags" :key="t") {{ t }}

    :inject(file="gapi.js")
    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="google-api.coffee")
    :inject(file="lodash.js")
    :inject(file="tags.coffee" bare)
